ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #ddd;
  font-size: xx-large;
  transition: 0.2s;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  padding: 10px;
}

ul li:hover {
  background: #888;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #e4e7ed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

form {
  font-family: Helvetica, sans-serif;
  background-color: #e4e7ed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-family: Helvetica, sans-serif;
  background-color: #e4e7ed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}