ul {
  padding-left: 0px;
}

ul li {
  padding: 5px;
  list-style-type: none;
  background: #ddd;
  font-size: xx-large;
  text-align: left;
}

ul i {
  float: right;
  cursor: pointer;
}

ul li:hover {
  background: #888;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #e4e7ed;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 {
  font-family: Helvetica, sans-serif;
  background-color: #e4e7ed;
}
